* {
  margin: 0;
  border: 0;
}

body {
    background-color: black;
}

#title {
    font-family: 'Nabla', cursive;
}

#protitle {
    font-family: 'Bungee Spice', cursive;
}

#footer {
    background-image: url(../imgs/aldebaran-s-qtRF_RxCAo0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }