* {
    margin: 0;
    border: 0;

}

body {
    background-color: black; !important
}

#nav {
    font-family: 'Rubik', sans-serif;

}

#header {
  background-image: url(../imgs/audiomusica.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  font-family: 'Raleway', sans-serif;
}
#name {
    font-size: 7em; !important
}

#resumen {
    font-family: 'Rubik', sans-serif;
}

#education {
    font-family: 'Rubik', sans-serif;
}

#laboraltitle {
  font-family: 'Mulish', sans-serif;
}

#experience {
  font-family: 'Mulish', sans-serif;
}

#footer {
  background-image: url(../imgs/aldebaran-s-qtRF_RxCAo0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}